h1 {
    border: 2px white solid;
    color: black;
    text-align: center;
    padding: 10px;
}
h2 {
    border: 4px white solid;
}
body{
    background: white;
}
p {
    border: 2px white solid;
}