* {
  font-family: "Quicksand", sans-serif;
}
h1 {
  color: white;
  text-align: center;
  padding: 2px;
  font-size: 30px;
  top: 420px;
}
#desc {
  color: white;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #86b4fa;
}
.aligncenter {
  text-align: center;
}
body {
  background-image: url("../images/bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.badge-primary {
  background-color: transparent;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.btn-google {
  color: white !important;
  background-color: #ea4335;
}
a.btn-google:hover {
  background-color: #ea4345 !important;
}
#navbarSupportedContent {
  color: white !important;
  font-weight: 500;
}
#register1 a:link {
  color: var(--bs-link-color);
}
#register1 a:visited {
  color: var(--bs-link-color);
}
#register1 a:hover {
  color: #86b4fa;
}
.gap {
  width: 25px;
  height: 25px;
  display: inline-block;
}
.form-label {
  color: white;
  font-size: 20px;
}
.form-control {
  font-size: 18px;
  font-weight: 500;
}
.form-group {
  color: white;
  font-size: 20px;
}
.header {
  color: white;
}
.badge-primary {
  color: black;
}

.box,
.box2,
.exp,
.tel {
  font-size: 20px;
}

.box,
.box2 {
  display: block;
  clear: both;
  backdrop-filter: blur(10px);
  padding: 10px 5px;
  border-radius: 6px;
}
.exp,
.tel {
  color: white;
  font-size: 18px;
}
#wsapp {
  background-color: green;
  color: white;
  font-size: 18px;
}
#wsapp:hover {
  background-color: darkgreen;
}
