<!doctype html>
{% extends "base.html" %}
{% block content %}
    <title>
        {% block title %}
            Cadastre-se agora!
        {% endblock title %}
    </title>
    <body>
        <br/>
        <h2>Cadastre-se:</h2>
        <br/>
        <form method="post">
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput1">Insira seu nome completo:</label>
                <input type="text"
                       name="title"
                       class="form-control"
                       id="exampleFormControlInput1"
                       placeholder="ex: José Silva"
                       value="{{ request.form['title'] }}"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="exampleFormControlInput2">Insira seu telefone:</label>
                <input type="number"
                       name="telefone"
                       class="form-control"
                       id="exampleFormControlInput2"
                       placeholder="ex: 14999012345"
                       value="{{ request.form['telefone'] }}"/>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Insira suas habilidades/experiências:</label>
                <textarea name="create" class="form-control" id="exampleFormControlTextarea1" placeholder="ex: sou pedreiro" rows="2">{{ request.form['content'] }}</textarea>
            </div>
            <br />
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <style>
                .form-control {
                    border-radius: 6px;
                }
            </style>
        </form>
    </body>
{% endblock content %}
