{% extends "base.html" %}
{% block content %}
    <body>
        <br />
        <br />
        <h2>Editar "{{ post['title'] }}"</h2>
        <br />
        <form method="post">
            <div class="form-group">
                <label for="title">Edite seu nome:</label>
                <input type="text"
                       name="title"
                       placeholder="Edite seu nome"
                       class="form-control"
                       value="{{ request.form['title'] or post['title'] }}"/>
            </div>
            <br />
            <div class="form-group">
                <label for="telefone">Edite seu telefone:</label>
                <input type="number"
                       name="telefone"
                       placeholder="Edite seu número de telefone"
                       class="form-control"
                       value="{{ request.form['telefone'] or post['telefone'] }}"/>
            </input>
        </div>
        <br />
        <div class="form-group">
            <label for="content">Edite suas habilidades/experiências:</label>
            <textarea name="create" placeholder="Edite suas habilidades/experiências" class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
        </div>
        <br />
        <br />
        <div class="form-group">
            <button type="submit"
                    class="btn btn-secondary"
                    onclick="window.alert('Suas informações foram atualizadas!')">
                Enviar
            </button>
        </div>
    </form>
</body>
{% endblock content %}
