{% extends "base.html" %}
{% block content %}
    <div class="gap"></div>
    <h1>
        {% block title %}
            Conheça e contrate: Serviços em Dois Córregos
        {% endblock title %}
    </h1>
    <br/>
    <h2 id="desc">Descrição do app/site</h2>
    <p id="desc">Projeto Integrador da UNIVESP</p>
    <h2 id="desc">Perfis</h2>
    <p id="desc">current id = {{ current_user.id }}</p>
    {% for user in users %}
        <a href="{{ url_for('user', user_id=user['id'])}}" class="special">
            <h2>{{ user['username'] }}</h2>
            <a href="/update/{{ user.id }}" class="btn btn-outline-primary btn-sm">Editar</a>
        </a>
        <hr />
    {% endfor %}
    <script type="text/javascript">
        var alerted = localStorage.getItem('alerted') || '';
        if (alerted != 'yes') {
            alert("Seja bem-vindo(a) ao Conheça e Contrate! Procure um prestador de serviços ou inscreva-se!");
            localStorage.setItem('alerted','yes');
        }
    </script>
{% endblock content %}
