{% extends "base.html" %}
{% block content %}
    <div class="div1"></div>
    <div class="gap"></div>
    <div class="div2"></div>
    <h1>
        {% block title %}
            Conheça e contrate: Serviços em Dois Córregos
        {% endblock title %}
    </h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id'])}}" class="special">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <style>
        .badge-primary{
            color:black;
        }
        </style>
        <hr />
    {% endfor %}
    <script type="text/javascript">
        var alerted = localStorage.getItem('alerted') || '';
        if (alerted != 'yes') {
            alert("Seja bem-vindo(a) ao Conheça e Contrate! Procure um prestador de serviços ou inscreva-se!");
            localStorage.setItem('alerted','yes');
        }
    </script>
{% endblock content %}
