{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-5 col-md-6 m-auto card p-4">
                <form action="{{ request.path }}" method="post" class="card-body">
                    {{ form.csrf_token }}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible fade show"
                                     role="alert">
                                    {{ message }}
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="text-center">
                        <h2>Login/Criação de conta</h2>
                        <h5 class="text-primary">{{ text }}</h5>
                    </div>
                    {% if request.path == '/register/' %}
                        <div class="form-group mb-3">{{ form.username(class_="form-control",placeholder="Nome")}}</div>
                        {% for error in form.username.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-group mb-3">{{ form.email(class_="form-control",placeholder="Email")}}</div>
                    {% for error in form.email.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <div class="form-group mb-3">{{ form.pwd(class_="form-control",placeholder="Senha")}}</div>
                    {% for error in form.pwd.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% if request.path == '/register/' %}
                        <div class="form-group mb-3">{{ form.cpwd(class_="form-control",placeholder="Confirmar senha")}}</div>
                        {% for error in form.cpwd.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="text-center">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-block btn-primary mb-3">{{ btn_action }}</button>
                        </div>
                        <p id="register1">
                            {% if request.path != '/register/' %}
                                Novo aqui?
                                <a href="{{ url_for('register')}}">Criar conta</a>
                            {% else %}
                                Já tem uma conta?
                                <a href="{{ url_for('login')}}">Login</a>
                            {% endif %}
                        </p>
                        <hr class="my-4"/>
                        <div class="d-grid mb-2">
                            <a class="btn btn-lg btn-google btn-block btn-outline"
                               href="{{ url_for('google') }}">
                                <i class="fab fa-google me-2"></i>
                            Entrar com o Google</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
