{% extends "base.html" %}
{% block content %}
    <title>
        {% block title %}
            Contrate: {{ post['title'] }}
        {% endblock title %}
    </title>
    <body>
        <br/>
        <h2 class="header">Contrate: {{ post['title'] }}</h2>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <style>
            .badge-primary {
                color: black;
            }
            .header {
                color: white;
            }
        </style>
        <br/>
        <div class="box">
            <span class="exp">Experiências: {{ post['content'] }}</span>
        </div>
        <br/>
        <div class="box2">
            <span class="tel">Telefone: {{ post['telefone'] }}</span>
        </div>
        <br/>
        <a class="btn" id="wsapp" target="_blank" onclick="goto_wsapp()">
            <i class="fa-brands fa-whatsapp"></i>
            Conversar por WhatsApp
        </a>
        <style>
            .box, .box2 {
                display: block;
                clear: both;
                backdrop-filter: blur(10px);
                padding: 10px 5px;
                border-radius: 6px;
            }
            .exp, .tel {
                color: white;
                font-size: 18px;
            }
            #wsapp {
                background-color: green;
                color: white;
            }
            #wsapp:hover {
                background-color: darkgreen;
            }
        </style>
    </body>
    <script type="text/javascript">
        function goto_wsapp () {
            let tel = {{ post['telefone'] }}
            window.open(`https://api.whatsapp.com/send?phone=55${tel}`, '_blank')
        }
    </script>
{% endblock content %}
