{% extends "base.html" %}
{% block content %}
    <title>
        {% block title %}
            Contrate: {{ post['title'] }}
        {% endblock title %}
    </title>
    <body>
        <br/>
        <h2 class="header">Contrate: {{ post['title'] }}</h2>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <br/>
        <div class="box">
            <span class="exp">Experiências: {{ post['content'] }}</span>
        </div>
        <br/>
        <div class="box2">
            <span class="tel">Telefone: {{ post['telefone'] }}</span>
        </div>
        <br/>
        <a class="btn" id="wsapp" target="_blank" onclick="goto_wsapp()">
            <i class="fa-brands fa-whatsapp"></i>
            Conversar por WhatsApp
        </a>
    </body>
    <script type="text/javascript">
        function goto_wsapp () {
            let tel = {{ post['telefone'] }}
            window.open(`https://api.whatsapp.com/send?phone=55${tel}`, '_blank')
        }
    </script>
{% endblock content %}
