{% extends "base.html" %}
{% block content %}
    <body>
        <br />
        <h2 class="header">Editar "{{ user['username'] }}"</h2>
        <br />
        <form method="post">
            <div class="form-group">
                <label for="title">Edite seu nome:</label>
                <div class="form-group mb-3">{{ form.username(class_="form-control",value=user['username'])}}</div>
            </div>
            <br />
            <div class="form-group">
                <label for="telefone">Edite seu telefone:</label>
                <div class="form-group mb-3">{{ form.phone(class_="form-control",value=user['phone'])}}</div>
            </div>
            <br />
            <div class="form-group">
                <label for="content">Edite suas habilidades/experiências:</label>
                <div class="form-group mb-3">{{ form.content(class_="form-control",value=user['content'])}}</div>
                <textarea name="create" placeholder="Edite suas habilidades/experiências" class="form-control">{{ request.form['content'] or user['content'] }}</textarea>
            </div>
            <br />
            <br />
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary"
                        onclick="window.alert('Suas informações foram atualizadas!')">
                    Enviar
                </button>
            </div>
        </form>
    </body>
{% endblock content %}
